<html>
    <head>

    </head>
    <body>
        
        <h1>This Is A from Page</h1>

        <form action ='/submit' method='post'>
            <input type="number" name = 'preg' placeholder="preg" required = 'required'>
            <input type="number" name = 'plas' placeholder="plas" required = 'required'>
            <input type="number" name = 'pres' placeholder="plas" required = 'required'>
            <input type="number" name = 'skin' placeholder="plas" required = 'required'>
            <input type="number" name = 'test' placeholder="plas" required = 'required'>
            <input type="number" name = 'mass' placeholder="plas" required = 'required'>
            <input type="number" name = 'pedi' placeholder="plas" required = 'required'>
            <input type="number" name = 'age' placeholder="plas" required = 'required'>
            <input type="number" name = 'class' placeholder="plas" required = 'required'>
            <button type='submit'>predict</button>
        </form>

    </body>
</html>
